.header{
    background-color: var(--backgroundcolor);
    
    *{
        background-color: var(--backgroundcolor);
    }
    div{

        align-items: center;
    }
    ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        li{
            color: var(--normaltext);
            font-size: 12px;
            a{
                color: var(--normaltext);
            }
        }
    }

}